<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinMoss.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinMoss.Properties.Settings>
            <setting name="strPerlLocation" serializeAs="String">
                <value>c:\Perl\bin\perl.exe</value>
            </setting>
            <setting name="strMossScriptLocation" serializeAs="String">
                <value />
            </setting>
            <setting name="strLanguage" serializeAs="String">
                <value>cpp</value>
            </setting>
            <setting name="strComment" serializeAs="String">
                <value />
            </setting>
            <setting name="numIgnoreCount" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="strLastDir" serializeAs="String">
                <value />
            </setting>
            <setting name="strIgnoreFilter" serializeAs="String">
                <value>stdafx</value>
            </setting>
            <setting name="chkboxDirs" serializeAs="String">
                <value>False</value>
            </setting>
        </WinMoss.Properties.Settings>
    </userSettings>
</configuration>